* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
}

:root {
  font-size: 15px;
}

body {
  background-color: #fafbff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.bg-pattern {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 60vh;
  z-index: -999999;
}

.intro {
  text-align: center;
  color: #293356;
  background: url("../images/pattern-circles.svg") top no-repeat;
  height: 145px;
  padding: 37px 0;
}

.intro__heading {
  font-size: 2rem;
}

.intro__paragraph {
  font-size: 1.1rem;
  color: #858fad;
}

.main-card {
  background-color: white;
  color: #858fad;
  padding: 2rem 2rem 1rem;
  -webkit-box-shadow: 0px 0px 11px -2px #293356;
          box-shadow: 0px 0px 11px -2px #293356;
  width: 50vw;
}

.main-card h2 {
  font-size: 1.1rem;
}

.main-card input {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  margin-top: 35px;
  background-color: #eaeefb;
  border-radius: 1em;
  border: none;
  outline: none;
}

.main-card input::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 40px;
  width: 40px;
  background: #10d5c2 url("../images/icon-slider.svg") center no-repeat;
  border-radius: 50%;
  position: relative;
  z-index: 9999;
  cursor: pointer;
  -webkit-filter: drop-shadow(0px 10px 15px #10d5c2);
          filter: drop-shadow(0px 10px 15px #10d5c2);
}

.main-card__slider-fill {
  height: 10px;
  width: 50%;
  display: inline-block;
  position: relative;
  left: 0;
  -webkit-transform: translateY(-210%);
          transform: translateY(-210%);
  background: #a5f3eb;
  border-radius: 50px;
}

.main-card .d-ib {
  display: inline-block;
}

.main-card__pricing-part .main-card__header, .main-card__pricing-part .main-card__header .main-card__pricing-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-card__pricing-part .main-card__header .main-card__pricing {
  color: #293356;
  font-size: 45px;
}

.main-card__pricing-part .main-card__header .main-card__pricing::after {
  content: '';
  margin-right: 0.5rem;
}

.main-card__pricing-part .main-card__billing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 12px;
          column-gap: 12px;
  margin-top: 25px;
}

.main-card__toggle {
  width: 60px;
  height: 26px;
  cursor: pointer;
}

.main-card__toggle span {
  display: inline-block;
}

.main-card__toggle .toggle-bg {
  background-color: #ced7ee;
  width: inherit;
  height: inherit;
  border-radius: 50px;
  padding: 15px;
}

.main-card__toggle .toggle-bg:hover {
  background-color: #a5f3eb;
}

.main-card__toggle .toggle-btn {
  width: 26px;
  height: inherit;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 50%;
  -webkit-transition: -webkit-transform 200ms ease;
  transition: -webkit-transform 200ms ease;
  transition: transform 200ms ease;
  transition: transform 200ms ease, -webkit-transform 200ms ease;
}

.main-card__toggle .toggle-btn.active {
  -webkit-transform: translate(65%, -50%);
          transform: translate(65%, -50%);
}
/*# sourceMappingURL=style.css.map */